.sidebar-class {
    font-size: 20px;
    padding-left: 10px;
    background-color: rgb(62, 167, 209);
    height: 1000px;
    width: 200px;
    color: white;
}

.common-class {
    margin-top: 18px;
}

.components-class {
    display: flex;
}

.display-class {
    display: flex;
    width: 520px;

}

.test-class {
    width: 150px;
    background-color: beige;
}

.name-class {
    width: 150px;
}

.margin-class {
    margin: 10px;
    margin-top: 30px;
}

.img-class {
    height: 200px;
}

.brand-class {
    font-size: 15px;
    color: rgb(89, 87, 87);
    margin-top: 15px;
}

.price-class {
    font-size: 20px;
    margin-top: 15px;
}

.oldprice-class {
    color: rgb(57, 55, 55);
    font-size: 15px;
    text-decoration: line-through;
    margin-top: 7px;
}

.rating-class {
    margin-top: 5px;
}

.ratingcount-class {
    margin-top: 5px;
}

/* 2nd page */

.prodName-class {
    font-size: 22px;
    width: 300px;
}

.blueFont-class {
    font-size: 18px;
    color: rgb(89, 6, 92);
}

.display2-class {
    display: flex;
}

.margin2-class {
    margin: 20px;
}

.img2-class {
    height: 350px;
    margin-left: 15px;
}

.buy-class {
    margin-left: 20px;
}

.cart-class {
    margin-left: 20px;
}

.button-class {
    margin-top: 15px;
    border-radius: 25px;

}

.tickImg-class {
    height: 15px;
}

.cartimg-class {
    height: 50px;
    margin-right: 20px;
    margin-left: 10px;
}

.amount-class {
    width: 90px;
    margin-left: 10px;
}

/* checkoutPage */

.marginTop-class {
    margin-top: 15px;
    margin-left: 8px;
    
}

.name-class {
    width: 200px;
    margin-left: 20px;
}
.headname-class{
    margin-left:70px;
    margin-bottom:15px ;
    margin-right: 165px;
}
.headPrice-class{
  margin-right: 30px;
  margin-bottom:15px;
}
.headTotal-class{
    margin-left: 10px;
}
.grand-class{
    margin-left: 300px;
}
.checkout-class{
    margin-top: 15px;
    margin-left: 400px;
}
.checkoutPrice{
    margin-left: 70px;
    width: 85px;
}
.cross-class{
    height: 40px;

}


.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }